.bruce-banner {
  display: flex;
  background-size: cover;
  height: calc(100vh - 70px);
  text-align: center;
  justify-content: space-around;
  align-items: center;
  color: white;
  filter: saturate(600%) !important;
  h1 {
  color: $pink;
  font-size: 120px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
  font-size: 25px;
  font-weight: lighter;
  color: $pink;
  opacity: 0.6;
  margin-bottom: 30px;
  }
}

